.return {
  // .return__container

  &__container {
  }

  // .return__inner

  &__inner {
    display: grid;
    grid-template-columns: 1209rem 595rem;
    gap: 20rem;
    padding: 48rem 0;
    @include small-tablet {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding: 0;
 
    }
  }

  // .return__main

  &__main {
    overflow: hidden;
    position: relative;
    background: $accentgradient;
    padding: 52rem 48rem;
    border-radius: 20rem;
    @include small-tablet {
      padding: 16rem;
      border-radius: 16rem;
      min-height: 279rem;
    }
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: url(./assets/images/returnBg.webp) no-repeat top/cover;
      mix-blend-mode: multiply;
      @include small-tablet {
        background: url(./assets/images/returnBgMob.webp) no-repeat top/cover;
      }
    }
  }

  // .return__content

  &__content {
    position: relative;
    z-index: 4;
    width: 677rem;
    gap: 34rem;
    @include small-tablet {
      width: 100%;
      gap: 24rem;
    }
  }

  // .return__head

  &__head {
    gap: 20rem;
    @include small-tablet {
      gap: 12rem;
    }
  }

  &__btn {
    @include small-tablet {
      padding: 12rem 24rem;
    }
  }

  // .return__decor

  &__decor {
    position: absolute;
    inset: 0;
    // width: 100%;
    // height: 100%;
    @include small-tablet {
      top: 10rem;
      left: 10rem;
    }
  }

  // .return__list

  &__list {
    gap: 20rem;
    @include small-tablet {
      gap: 4rem;
    }
  }

  // .return__item

  &__item {
    padding: 16rem 16rem 42rem;
    border-radius: 12rem;
    background: $accentgradient;
    gap: 34rem;
    @include small-tablet {
      padding: 10rem 10rem 25rem;
      border-radius: 16rem;
      gap: 20rem;
    }
  }

  // .return__item-head

  &__item-head {
    gap: 16rem;
    @include small-tablet {
      gap: 8rem;
    }
  }

  // .return__item-num

  &__item-num {
    color: $dark;
    background: $asideGradient;
    border-radius: 50%;
    flex-shrink: 0;
    width: 56rem;
    height: 56rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include small-tablet {
      width: 32rem;
      height: 32rem;
    }
  }

  // .return__item-title

  &__item-title {
  }
}
