// typography
@import './typo';
@import './buttons';
@import './form';
@import './fancybox';

.logo {
  width: 126rem;
  height: 70rem;
  display: block;
  @include small-tablet {
    width: 59rem;
    height: 30rem;
  }
}

.swiper-btn-box {
  display: flex;
  align-items: center;
  gap: 14rem;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  position: absolute;
  bottom: 16rem !important;
  top: auto !important;
  left: 0 !important;
  right: 0 !important;
  & .swiper-pagination-bullet {
    margin: 0 !important;
    width: 8rem !important;
    height: 8rem !important;
    border-radius: 50% !important;
    transition: all 0.3s !important;
    background: #e0e0e0;
    position: relative !important;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1 !important;
    &.swiper-pagination-bullet-active {
      &::after {
        opacity: 1;
      }
    }
    &::before,
    &::after {
      position: absolute;
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      content: '';
    }

    &::before {
      background: $white;
    }
    &::after {
      background: $accentgradient;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
}
