// typography
@import './typo';
@import './buttons';
@import './form';
@import './fancybox';

.logo {
  width: 126rem;
  height: 70rem;
  display: block;
  @include small-tablet {
    width: 59rem;
    height: 30rem;
  }
}

.swiper-btn-box {
  display: flex;
  align-items: center;
  gap: 14rem;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  position: absolute;
  bottom: 16rem !important;
  top: auto !important;
  left: 0 !important;
  right: 0 !important;
  & .swiper-pagination-bullet {
    margin: 0 !important;
    width: 8rem !important;
    height: 8rem !important;
    border-radius: 50% !important;
    transition: all 0.3s !important;
    background: #e0e0e0;
    position: relative !important;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1 !important;
    &.swiper-pagination-bullet-active {
      &::after {
        opacity: 1;
      }
    }
    &::before,
    &::after {
      position: absolute;
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      content: '';
    }

    &::before {
      background: $white;
    }
    &::after {
      background: $accentgradient;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
}

.breadcrumbs {
  position: relative;
  z-index: 5;
  // .breadcrumbs__list

  &__list {
    display: flex;
    align-items: center;
    gap: 15rem;
    width: 100%;
    @include small-tablet {
      gap: 8rem;
    }
  }

  // .breadcrumbs__link

  & li {
    display: flex;
    align-items: center;
    gap: 15rem;
    color: $grey;
    white-space: nowrap;

    &:last-child {
      color: $dark;
      cursor: default;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      flex-shrink: 1;
      &::before {
        display: inline-block;
        content: '';
        width: 3rem;
        height: 3rem;
        background: no-repeat center/contain
          url("data:image/svg+xml,%3Csvg width='3' height='3' viewBox='0 0 3 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.5' cy='1.5' r='1.5' transform='matrix(-1 0 0 1 3 0)' fill='%233D4546' /%3E%3C/svg%3E");
      }
      & p {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
      }
    }

    @include small-tablet {
      gap: 8rem;
      font-size: 14rem;
    }
  }
}
