        <section class="articles-list">
          <div class="articles-list__container container">
            <div class="articles-list__inner flex dc">
              <nav class="breadcrumbs">
                <ul class="breadcrumbs__list txt18">
                  <li><a href="#">Главная</a></li>
                  <li><p>Статьи</p></li>
                </ul>
              </nav>
              <div class="articles-list__list-wrap flex dc">
                <p class="h1">Статьи</p>

                <div class="articles-list__list-box flex dc">
                  <ul class="articles-list__list">
                    <li class="articles-list__item">
                      <a href="#" class="article flex dc">
                        <div class="article__img">
                          <img src="./assets/images/article2.webp" alt="" />
                        </div>
                        <div class="article__content flex dc">
                          <p class="article__desc txt24">Нужен ли фиксирующий крем — и как его наносить, чтобы не было комочков</p>
                          <div class="article__link link-primary">
                            <span class="link-primary__text txt20">Читать статью</span>
                            <span class="link-primary__svg-box">
                              <div class="link-primary__svg">
                                <img src="./assets/images/arrGradient.svg" alt="" />
                              </div>
                            </span>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="articles-list__item">
                      <a href="#" class="article flex dc">
                        <div class="article__img">
                          <img src="./assets/images/article2.webp" alt="" />
                        </div>
                        <div class="article__content flex dc">
                          <p class="article__desc txt24">Как правильно чистить протез, чтобы он служил дольше и не царапался</p>
                          <div class="article__link link-primary">
                            <span class="link-primary__text txt20">Читать статью</span>
                            <span class="link-primary__svg-box">
                              <div class="link-primary__svg">
                                <img src="./assets/images/arrGradient.svg" alt="" />
                              </div>
                            </span>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="articles-list__item">
                      <a href="#" class="article flex dc">
                        <div class="article__img">
                          <img src="./assets/images/article2.webp" alt="" />
                        </div>
                        <div class="article__content flex dc">
                          <p class="article__desc txt24">Как правильно чистить протез, чтобы он служил дольше и не царапался</p>
                          <div class="article__link link-primary">
                            <span class="link-primary__text txt20">Читать статью</span>
                            <span class="link-primary__svg-box">
                              <div class="link-primary__svg">
                                <img src="./assets/images/arrGradient.svg" alt="" />
                              </div>
                            </span>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="articles-list__item">
                      <a href="#" class="article flex dc">
                        <div class="article__img">
                          <img src="./assets/images/article2.webp" alt="" />
                        </div>
                        <div class="article__content flex dc">
                          <p class="article__desc txt24">Как правильно чистить протез, чтобы он служил дольше и не царапался</p>
                          <div class="article__link link-primary">
                            <span class="link-primary__text txt20">Читать статью</span>
                            <span class="link-primary__svg-box">
                              <div class="link-primary__svg">
                                <img src="./assets/images/arrGradient.svg" alt="" />
                              </div>
                            </span>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>

                  <button class="articles-list__btn btn-primary btn-primary--accent txt18"><span>Показать ещё</span></button>
                </div>
              </div>
            </div>
          </div>
        </section>