<section class="articles">
  <div class="articles__container container">
    <div class="articles__inner">
      <div class="articles__info flex dc sb">
        <div class="articles__head flex dc">
          <div class="articles__name flex dc">
            <p class="h2">Вы только начали носить протез?</p>
            <p class="txt24 grey">
              Это нормально — чувствовать себя неуверенно. На этом портале мы собрали всё, что действительно важно в первые недели
            </p>
          </div>
          <button data-da=".articles__inner, 768, last" class="articles__btn txt20 btn-primary btn-primary--accent">
            <span>Все статьи</span>
          </button>
        </div>

        <div class="articles__nav-box swiper-btn-box">
          <button class="articles__swiper-btn articles__swiper-btn--next swiper-button swiper-button--prev">
            <div class="swiper-button__svg">
              <img class="noHover" src="./assets/images/arrGradient.svg" alt="" />
              <img class="hover" src="./assets/images/arrWhite.svg" alt="" />
            </div>
          </button>
          <button class="articles__swiper-btn articles__swiper-btn--next swiper-button swiper-button--next">
            <div class="swiper-button__svg">
              <img class="noHover" src="./assets/images/arrGradient.svg" alt="" />
              <img class="hover" src="./assets/images/arrWhite.svg" alt="" />
            </div>
          </button>
        </div>
      </div>
      <div class="articles__swiper-box">
        <div class="articles__swiper swiper">
          <div class="swiper-wrapper">
            <div class="articles__slide swiper-slide">
              <a href="#" class="article flex dc">
                <div class="article__img">
                  <img src="./assets/images/article1.webp" alt="" />
                </div>
                <div class="article__content flex dc">
                  <p class="article__desc txt24">Нужен ли фиксирующий крем — и как его наносить, чтобы не было комочков</p>
                  <div class="article__link link-primary">
                    <span class="link-primary__text txt20">Читать статью</span>
                    <span class="link-primary__svg-box">
                      <div class="link-primary__svg">
                        <img src="./assets/images/arrGradient.svg" alt="" />
                      </div>
                    </span>
                  </div>
                </div>
              </a>
            </div>

            <div class="articles__slide swiper-slide">
              <a href="#" class="article flex dc">
                <div class="article__img">
                  <img src="./assets/images/article2.webp" alt="" />
                </div>
                <div class="article__content flex dc">
                  <p class="article__desc txt24">Как правильно чистить протез, чтобы он служил дольше и не царапался</p>
                  <div class="article__link link-primary">
                    <span class="link-primary__text txt20">Читать статью</span>
                    <span class="link-primary__svg-box">
                      <div class="link-primary__svg">
                        <img src="./assets/images/arrGradient.svg" alt="" />
                      </div>
                    </span>
                  </div>
                </div>
              </a>
            </div>

            <div class="articles__slide swiper-slide">
              <a href="#" class="article flex dc">
                <div class="article__img">
                  <img src="./assets/images/article1.webp" alt="" />
                </div>
                <div class="article__content flex dc">
                  <p class="article__desc txt24">Нужен ли фиксирующий крем</p>
                  <div class="article__link link-primary">
                    <span class="link-primary__text txt20">Читать статью</span>
                    <span class="link-primary__svg-box">
                      <div class="link-primary__svg">
                        <img src="./assets/images/arrGradient.svg" alt="" />
                      </div>
                    </span>
                  </div>
                </div>
              </a>
            </div>

            <div class="articles__slide swiper-slide">
              <a href="#" class="article flex dc">
                <div class="article__img">
                  <img src="./assets/images/article2.webp" alt="" />
                </div>
                <div class="article__content flex dc">
                  <p class="article__desc txt24">
                    Как правильно чистить протез, чтобы он служил дольше и не царапался Как правильно чистить протез,
                    чтобы он служил дольше и не царапался
                  </p>
                  <div class="article__link link-primary">
                    <span class="link-primary__text txt20">Читать статью</span>
                    <span class="link-primary__svg-box">
                      <div class="link-primary__svg">
                        <img src="./assets/images/arrGradient.svg" alt="" />
                      </div>
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="articles__pagin swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
