<section class="compound">
  <div class="compound__container container">
    <div class="compound__inner flex dc">
      <p class="h2 center">Составляющие комфортного ношения протеза</p>
      <ul class="compound__list grid2 white">
        <li class="compound__item flex dc sb">
          <div class="compound__decor">
            <img src="./assets/images/compound1.webp" alt="" />
          </div>
          <div class="compound__head flex sv sb">
            <p class="h3">Фиксация - чтобы протез держался надёжно</p>
            <div class="compound__billet txt20">Фиксация</div>
          </div>
          <div class="compound__info flex dc">
            <p class="txt24">
              Если протез шатается, сползает или «гуляет»
              <br />
              во рту — вы не сможете есть, говорить
              <br />
              или смеяться без страха.
            </p>
            <button class="compound__btn txt20 btn-primary"><span>Подобрать фиксацию</span></button>
          </div>
        </li>
        <li class="compound__item flex dc sb">
          <div class="compound__decor">
            <img src="./assets/images/compound2.webp" alt="" />
          </div>
          <div class="compound__head flex sv sb">
            <p class="h3">Очищение — чтобы протез оставался чистым и безопасным</p>
            <div class="compound__billet txt20">Очищение</div>
          </div>
          <div class="compound__info flex dc">
            <p class="txt24">
              Протез — как вторая кожа: его нужно чистить каждый
              <br />
              день. Но обычной зубной пастой — нельзя: она царапает
              <br />
              поверхность, и в микротрещинах скапливаются
              <br />
              бактерии.
            </p>
            <button class="compound__btn txt20 btn-primary"><span>Подобрать очищение</span></button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
