<section class="faq">
  <div class="faq__container container">
    <div class="faq__inner flex">
      <div class="faq__faq flex dc">
        <p class="faq__title h2">Популярные вопросы</p>
        <div class="faq__accordion flex dc ">
          <!-- 1 -->
          <div class="faq__item">
            <div class="faq__head flex cv sb">
              <p class="txt24 semibold">Почему увеличилось слюноотделение?</p>
              <div class="faq__plus">
                <img src="./assets/images/faqArr.svg" alt="" />
              </div>
            </div>
            <div class="faq__info">
              <p class="txt20">
                Организатором Акции «Программа ВольтаФлекс» является АО «Хелеон Рус» Организатором Акции «Программа ВольтаФлекс»
                является АО «Хелеон Рус» Организатором Акции «Программа ВольтаФлекс» является АО «Хелеон Рус»
              </p>
            </div>
          </div>
          <!-- 2 -->
          <div class="faq__item">
            <div class="faq__head flex cv sb">
              <p class="txt24 semibold">Нужен ли крем при частичном протезе?</p>
              <div class="faq__plus">
                <img src="./assets/images/faqArr.svg" alt="" />
              </div>
            </div>
            <div class="faq__info">
              <p class="txt20">
                Организатором Акции «Программа ВольтаФлекс» является АО «Хелеон Рус» Организатором Акции «Программа ВольтаФлекс»
                является АО «Хелео Организатором Акции «Программа ВольтаФлекс» является АО «Хелеон Рус» Организатором Акции
                «Программа ВольтаФлекс» является АО «Хелеон Рус» Организатором Акции «Программа ВольтаФлекс» является АО «Хелеон
                Рус»кции «Программа ВольтаФлекс» является АО «Хелеон Рус»
              </p>
            </div>
          </div>
          <!-- 3 -->
          <div class="faq__item">
            <div class="faq__head flex cv sb">
              <p class="txt24 semibold">Какие продукты можно есть с протезом?</p>
              <div class="faq__plus">
                <img src="./assets/images/faqArr.svg" alt="" />
              </div>
            </div>
            <div class="faq__info">
              <p class="txt20">
                Организатором Акции «Программа ВольтаФлекс» является АО «Хелеон Рус» Организатором Акции «Программа ВольтаФлекс»
                является АО «Хелеон Рус» Организатором Акции «Программа ВольтаФлекс» является АО «Хелеон Рус»
              </p>
            </div>
          </div>
          <!-- 4 -->
          <div class="faq__item">
            <div class="faq__head flex cv sb">
              <p class="txt24 semibold">Почему нельзя использовать отбеливающие средства?</p>
              <div class="faq__plus">
                <img src="./assets/images/faqArr.svg" alt="" />
              </div>
            </div>
            <div class="faq__info">
              <p class="txt20">
                Организатором Акции «Программа ВольтаФлекс» является АО «Хелеон Рус» Организатором Акции «Программа ВольтаФлекс»
                является АО «Хелеон Рус» Организатором Акции «Программа ВольтаФлекс» является АО «Хелеон Рус» Организатором Акции
                «Программа ВольтаФлекс» является АО «Хелеон Рус» Организатором Акции «Программа ВольтаФлекс» является АО «Хелеон
                Рус» Организатором Акции «Программа ВольтаФлекс» является АО «Хелеон Рус»
              </p>
            </div>
          </div>
          <!-- 5 -->
          <div class="faq__item">
            <div class="faq__head flex cv sb">
              <p class="txt24 semibold">Можно ли спать в протезе?</p>
              <div class="faq__plus">
                <img src="./assets/images/faqArr.svg" alt="" />
              </div>
            </div>
            <div class="faq__info">
              <p class="txt20">
                Организатором Акции «Программа ВольтаФлекс» является АО «Хелеон Рус» Организатором Акции «Программа ВольтаФлекс» я
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="faq__aside flex dc cv">
        <ul class="faq__aside-list flex dc">
          <li>
            <a href="#" class="faq__aside-link">
                <img src="./assets/images/ozon.svg" alt="">
            </a>
          </li>
          <li>
            <a href="#" class="faq__aside-link">
                <img src="./assets/images/uteca.svg" alt="">
            </a>
          </li>
        </ul>
        <p class="h3 center medium">Купить средства по уходу и фиксации зубных протезов</p>
      </div>
    </div>
  </div>
</section>
