<section class="feedback">
  <div class="feedback__container container">
    <div class="feedback__inner">
      <div class="feedback__photo">
        <img src="./assets/images/feedbackPhoto.webp" alt="" />
      </div>
      <div class="feedback__content white flex dc">
        <div class="feedback__head flex dc">
          <p class="feedback__title h2">
            Не нашли ответ?
            <br />
            Напишите нам — мы поможем
          </p>
          <p class="txt24">
            Иногда вопросы бывают слишком личными или специфичными для статей. Мы читаем каждое сообщение и постараемся ответить
            в течение 2–3 дней.
          </p>
        </div>

        <button class="feedback__btn btn-primary txt20"><span>Задать вопрос</span></button>
      </div>
    </div>
  </div>
</section>
