<footer class="footer">
  <div class="footer__container container">
    <div class="footer__inner flex dc">
      <div class="footer__top flex dc">
        <div class="footer__info flex cv sb">
          <a href="#" class="footer__logo logo" data-da=".footer__btn-box, 768, first">
            <img src="./assets/images/logo.webp" alt="" />
          </a>
          <nav class="footer__nav">
            <ul class="footer__list txt20 flex cv">
              <li>
                <a href="#" class="footer__link">Статьи</a>
              </li>
              <li>
                <a href="#" class="footer__link">Советы</a>
              </li>
              <li>
                <a href="#" class="footer__link">Акция</a>
              </li>
              <li>
                <a href="#" class="footer__link">Помощь</a>
              </li>
              <li>
                <a href="#" class="footer__link">FAQ</a>
              </li>
            </ul>
          </nav>

          <div class="footer__btn-box flex cv">
            <!-- <button class="footer__btn btn-primary btn-primary--accent txt20"><span>Личный кабинет</span></button> -->
          </div>
        </div>
        <div class="footer__policy flex dc txt18 grey">
          <ul class="footer__policy-list flex-cc">
            <li>
              <a href="#">Обработка персональных данных</a>
            </li>
            <li>
              <a href="#">Политика конфиденциальности</a>
            </li>
          </ul>
          <ul class="footer__policy-list flex-cc">
            <li>
              <span>© 2025 Все права защищены</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__disclaimer">
        <img src="./assets/images/disclaimer.svg" alt="" />
      </div>
    </div>
  </div>
</footer>
