<section class="hero">
  <div class="hero__container container">
    <div class="hero__inner">
      <div class="hero__swiper-box white">
        <div class="hero__swiper swiper">
          <div class="swiper-wrapper">
            <div class="hero__slide swiper-slide">
              <div class="hero__slide-bg">
                <picture class="hero__bg-img">
                  <source srcset="./assets/images/heroSlide1Mob.webp" media="(max-width: 768px)" />
                  <source srcset="./assets/images/heroSlide1.webp" media="(min-width: 769px)" />
                  <img src="./assets/images/heroSlide1.webp" alt="" />
                </picture>
              </div>
              <div class="hero__content flex dc">
                <div class="hero__head flex dc sb">
                  <p class="h1">Живи, ешь, улыбайся без ограничений</p>
                  <p class="txt24">
                    Этот портал поможет вам понять, как ухаживать за протезами, элайнерами и поддерживать здоровье полости рта.
                  </p>
                </div>
                <button class="hero__btn txt20 btn-primary"><span>Полезные советы</span></button>
              </div>
            </div>
            <div class="hero__slide swiper-slide">
              <div class="hero__slide-bg">
                <picture class="hero__bg-img">
                  <source srcset="./assets/images/heroSlide1Mob.webp" media="(max-width: 768px)" />
                  <source srcset="./assets/images/heroSlide2.webp" media="(min-width: 769px)" />
                  <img src="./assets/images/heroSlide2.webp" alt="" />
                </picture>
              </div>
              <div class="hero__content flex dc">
                <div class="hero__head flex dc sb">
                  <p class="h1">улыбайся без ограничений Живи, ешь,</p>
                  <p class="txt24">
                    Этот портал поможет вам понять, Этот портал поможет вам понять, как ухаживать за протезами, элайнерами
                    и поддерживать здоровье полости рта.
                  </p>
                </div>
                <button class="hero__btn txt20 btn-primary"><span>Полезные советы</span></button>
              </div>
            </div>
          </div>
        </div>

        <div class="hero__nav-box swiper-btn-box">
          <button class="hero__swiper-btn hero__swiper-btn--next swiper-button swiper-button--prev">
            <div class="swiper-button__svg">
              <img class="noHover" src="./assets/images/arrGradient.svg" alt="" />
              <img class="hover" src="./assets/images/arrWhite.svg" alt="" />
            </div>
          </button>
          <button class="hero__swiper-btn hero__swiper-btn--next swiper-button swiper-button--next">
            <div class="swiper-button__svg">
              <img class="noHover" src="./assets/images/arrGradient.svg" alt="" />
              <img class="hover" src="./assets/images/arrWhite.svg" alt="" />
            </div>
          </button>
        </div>

        <div class="hero__pagination swiper-pagination"></div>
      </div>
      <div class="hero__gift-box hero__small-banner white">
        <div class="hero__gift-bg hero__small-banner-bg">
          <img src="./assets/images/heroGift.webp" alt="" />
        </div>
        <div class="hero__gift-content flex dc sb">
          <p class="hero__gift-billet txt20">Акция</p>
          <p class="h3 upper">
            подари себе
            <br />
            улыбку мечты
          </p>
        </div>
      </div>
      <div class="hero__garanty-box hero__small-banner">
        <div class="hero__garanty-bg hero__small-banner-bg">
          <img src="./assets/images/heroGaranty.webp" alt="" />
        </div>
        <div class="hero__garanty-content flex dc">
          <p class="h3 upper">
            Гарантия
            <br />
            удовлетворённости
          </p>
          <p class="txt24">
            Результат не оправдал ожиданий?
            <br />
            Вернем вам деньги!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
