<div class="lk__article lk-article">
  <div class="lk-article__head">
    <p class="h2">Статьи</p>
    <div class="lk-article__nav-box swiper-btn-box">
      <button class="lk-article__swiper-btn lk-article__swiper-btn--next swiper-button swiper-button--prev">
        <div class="swiper-button__svg">
          <img class="noHover" src="./assets/images/arrGradient.svg" alt="" />
          <img class="hover" src="./assets/images/arrWhite.svg" alt="" />
        </div>
      </button>
      <button class="lk-article__swiper-btn lk-article__swiper-btn--next swiper-button swiper-button--next">
        <div class="swiper-button__svg">
          <img class="noHover" src="./assets/images/arrGradient.svg" alt="" />
          <img class="hover" src="./assets/images/arrWhite.svg" alt="" />
        </div>
      </button>
    </div>
  </div>

  <div class="lk-article__swiper-box">
    <div class="lk-article__swiper swiper">
      <div class="lk-article__swiper-wrapper swiper-wrapper">
        <div class="lk-article__slide swiper-slide">
          <a href="#" class="article flex dc">
            <div class="article__img">
              <img src="./assets/images/article1.webp" alt="" />
            </div>
            <div class="article__content flex dc">
              <p class="article__desc txt24">Нужен ли фиксирующий крем — и как его наносить, чтобы не было комочков</p>
              <div class="article__link link-primary">
                <span class="link-primary__text txt20">Читать статью</span>
                <span class="link-primary__svg-box">
                  <div class="link-primary__svg">
                    <img src="./assets/images/arrGradient.svg" alt="" />
                  </div>
                </span>
              </div>
            </div>
          </a>
        </div>
        <div class="lk-article__slide swiper-slide">
          <a href="#" class="article flex dc">
            <div class="article__img">
              <img src="./assets/images/article1.webp" alt="" />
            </div>
            <div class="article__content flex dc">
              <p class="article__desc txt24">Нужен ли фиксирующий крем — и как его наносить, чтобы не было комочков</p>
              <div class="article__link link-primary">
                <span class="link-primary__text txt20">Читать статью</span>
                <span class="link-primary__svg-box">
                  <div class="link-primary__svg">
                    <img src="./assets/images/arrGradient.svg" alt="" />
                  </div>
                </span>
              </div>
            </div>
          </a>
        </div>
        <div class="lk-article__slide swiper-slide">
          <a href="#" class="article flex dc">
            <div class="article__img">
              <img src="./assets/images/article1.webp" alt="" />
            </div>
            <div class="article__content flex dc">
              <p class="article__desc txt24">Нужен ли фиксирующий крем — и как его наносить, чтобы не было комочков</p>
              <div class="article__link link-primary">
                <span class="link-primary__text txt20">Читать статью</span>
                <span class="link-primary__svg-box">
                  <div class="link-primary__svg">
                    <img src="./assets/images/arrGradient.svg" alt="" />
                  </div>
                </span>
              </div>
            </div>
          </a>
        </div>
        <div class="lk-article__slide swiper-slide">
          <a href="#" class="article flex dc">
            <div class="article__img">
              <img src="./assets/images/article1.webp" alt="" />
            </div>
            <div class="article__content flex dc">
              <p class="article__desc txt24">Нужен ли фиксирующий крем — и как его наносить, чтобы не было комочков</p>
              <div class="article__link link-primary">
                <span class="link-primary__text txt20">Читать статью</span>
                <span class="link-primary__svg-box">
                  <div class="link-primary__svg">
                    <img src="./assets/images/arrGradient.svg" alt="" />
                  </div>
                </span>
              </div>
            </div>
          </a>
        </div>
        <div class="lk-article__slide swiper-slide">
          <a href="#" class="article flex dc">
            <div class="article__img">
              <img src="./assets/images/article1.webp" alt="" />
            </div>
            <div class="article__content flex dc">
              <p class="article__desc txt24">Нужен ли фиксирующий крем — и как его наносить, чтобы не было комочков</p>
              <div class="article__link link-primary">
                <span class="link-primary__text txt20">Читать статью</span>
                <span class="link-primary__svg-box">
                  <div class="link-primary__svg">
                    <img src="./assets/images/arrGradient.svg" alt="" />
                  </div>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="lk-article__pagin swiper-pagination"></div>
  </div>
</div>
