<div class="lk__app lk-app">
  <div class="lk-app__head">
    <p class="h2">Заявки на возврат средств</p>
  </div>
  <div class="lk-app__content">
    <div class="lk-app__full">
      <ul class="lk-app__list">
        <li class="lk-app__item lk-app__item--pay">
          <ul class="lk-app__data">
            <li class="lk-app__data-item txt24">
              <span class="grey">Дата заявки:</span>
              <span>18.10.2025</span>
            </li>
            <li class="lk-app__data-item txt24">
              <span class="grey">Продукт:</span>
              <span>Таблетки для очищения зубных протезов Корега Отбеливающие</span>
            </li>
            <li class="lk-app__data-item txt24">
              <span class="grey">Способ возврата:</span>
              <span>По номеру телефона</span>
            </li>
          </ul>
          <div class="lk-app__status">Выплачено</div>
        </li>
        <li class="lk-app__item lk-app__item--process">
          <ul class="lk-app__data">
            <li class="lk-app__data-item txt24">
              <span class="grey">Дата заявки:</span>
              <span>18.10.2025</span>
            </li>
            <li class="lk-app__data-item txt24">
              <span class="grey">Продукт:</span>
              <span>Таблетки для очищения зубных протезов Корега Отбеливающие</span>
            </li>
            <li class="lk-app__data-item txt24">
              <span class="grey">Способ возврата:</span>
              <span>По номеру телефона</span>
            </li>
          </ul>
          <div class="lk-app__status">В обработке</div>
        </li>
        <li class="lk-app__item lk-app__item--reject">
          <ul class="lk-app__data">
            <li class="lk-app__data-item txt24">
              <span class="grey">Дата заявки:</span>
              <span>18.10.2025</span>
            </li>
            <li class="lk-app__data-item txt24">
              <span class="grey">Продукт:</span>
              <span>Таблетки для очищения зубных протезов Корега Отбеливающие</span>
            </li>
            <li class="lk-app__data-item txt24">
              <span class="grey">Способ возврата:</span>
              <span>По номеру телефона</span>
            </li>
          </ul>
          <div class="lk-app__status">Отклонено</div>
        </li>
      </ul>
      <div class="lk-app__help txt18 grey">
        <p>
          Заявка рассматривается в течение 10 дней.
          <br />
          Возврат средств осуществляется в течение 10 дней
        </p>
        <p>
          При возникновении задержек свяжитесь с нами по адресу:
          <a class="blue" href="mailto:support@korega.ru">support@korega.ru</a>
        </p>
      </div>
    </div>

    <div class="lk-app__empty">
      <div class="lk-app__empty-head">
        <p class="h4 upper">У вас еще нет заявок</p>
        <p class="txt20 grey">
          Если результат не оправдал ваших ожиданий, Вы можете оформить заявку на возврат денежных средств и мы вернем Вам деньги!
        </p>
      </div>

           <a href="#" class="txt20 btn-primary btn-primary--accent"><span>Подробнее</span></a>
    </div>
  </div>
</div>
