<div class="lk__mail lk-mail white">
  <div class="lk-mail__content">
    <form class="lk-mail__form form" data-dev action="">
      <div class="lk-mail__title-box">
        <p class="h3 upper">Оставайтесь в курсе!</p>
        <p class="txt20">
          Подписывайтесь на уведомления о новых материалах, рекомендациях и важных новостях в сфере протезирования.
        </p>
      </div>
      <div class="lk-mail__form-main">
        <div class="lk-mail__input-wrap">
          <label class="form__label">
            <span class="form__label-inner">
              <input
                class="form__input input--mail"
                type="text"
                data-validate
                data-required="email"
                autocomplete="off"
                name="form[]"
                placeholder=""
                value="elenasidorova@mail.ru"
              />
            </span>
            <span class="form__error txt10 light">Некорректное значение</span>
          </label>

          <button type="submit" class="lk-mail__submit-btn submit-btn">
            <p class="txt28">Подписаться</p>
          </button>
        </div>

        <p class="lk-mail__form-disclaimer">
          Нажимая «Подписаться» вы даёте согласие на 
          <a href="">Обработку персональных данных</a>
          и принимаете Условия
          <a href="">политики конфиденциальности</a>
        </p>
      </div>
    </form>

    <div class="lk-mail__success flex-cc dc white">
      <div class="lk-mail__title-box">
        <p class="h3 upper">Вы подписаны на рассылку</p>
        <p class="txt20">
          Мы будем отправлять вам уведомления на почту: elenasidorova@mail.ru. Вы можете управлять подпиской в настройках.
        </p>
      </div>
      <button class="lk-mail__cancel txt20">Отписаться от рассылки</button>
    </div>
  </div>
  <div class="lk-mail__photo">
    <img src="./assets/images/12.03.26/lkMail.webp" alt="" />
  </div>
</div>
