<section class="recom">
  <div class="recom__container container">
    <div class="recom__inner flex dc">
      <div class="recom__head flex cv sb">
        <p class="h2">Рекомендации специалистов</p>
        <a href="#" data-da=".recom__inner, 768, last" class="txt20 recom__btn btn-primary btn-primary--accent"><span>Все видео</span></a>
      </div>

      <div class="recom__swiper-wrapp">
        <div class="recom__swiper-img swiper">
          <div class="swiper-wrapper">
            <div class="recom__slide-img recom__slide-img--video swiper-slide">
              <a data-fancybox="video" data-src="./assets/images/videoTest.mp4" class="recom__img">
                <video class="" preload="metadata" poster="./assets/images/recomThumb1.webp">
                  <source src="./assets/images/videoTest.mp4" type="video/mp4" />
                </video>
              </a>
            </div>

            <div class="recom__slide-img swiper-slide">
              <a data-fancybox="video" data-src="./assets/images/recomThumb2.webp" class="recom__img">
                <img src="./assets/images/recomThumb2.webp" alt="" />
              </a>
            </div>
            <div class="recom__slide-img swiper-slide">
              <a data-fancybox="video" data-src="./assets/images/recomThumb3.webp" class="recom__img">
                <img src="./assets/images/recomThumb3.webp" alt="" />
              </a>
            </div>
            <div class="recom__slide-img swiper-slide">
              <a data-fancybox="video" data-src="./assets/images/recomThumb4.webp" class="recom__img">
                <img src="./assets/images/recomThumb4.webp" alt="" />
              </a>
            </div>
            <div class="recom__slide-img swiper-slide">
              <a data-fancybox="video" data-src="./assets/images/recomThumb2.webp" class="recom__img">
                <img src="./assets/images/recomThumb2.webp" alt="" />
              </a>
            </div>
          </div>
        </div>
        <div class="recom__swiper-text-box flex dc sb">
          <div class="recom__swiper-text swiper">
            <div class="swiper-wrapper">
              <div class="recom__slide-text swiper-slide">
                <div class="recom__slide-text-content flex dc">
                  <p class="h3 upper">
                    Три главных правила по уходу
                    <br />
                    за протезами
                  </p>

                  <div class="recom__slide-text-box flex dc txt24 grey">
                    <p>
                      Всего три простых шага — и ваши протезы будут служить дольше, выглядеть лучше и оставаться комфортными
                      каждый день.
                    </p>
                    <p>
                      В этом видео мы подробно разбираем ежедневные действия, которые помогают поддерживать чистоту, продлить срок
                      службы и избежать распространённых ошибок в уходе.
                    </p>
                  </div>
                </div>
              </div>
              <div class="recom__slide-text swiper-slide">
                <div class="recom__slide-text-content flex dc">
                  <p class="h3 upper">Три главных правила по уходу x</p>

                  <div class="recom__slide-text-box flex dc txt24 grey">
                    <p>Всего три простых шага — и ваши</p>
                    <p>
                      В этом видео мы подробно разбираем ежедневные действия, которые помогают поддерживать чистоту, продлить срок
                      службы и избежать распространённых ошибок в уходе.
                    </p>
                  </div>
                </div>
              </div>
              <div class="recom__slide-text swiper-slide">
                <div class="recom__slide-text-content flex dc">
                  <p class="h3 upper">
                    Три главных правила по уходу
                    <br />
                    за протезами уходу за протезами
                  </p>

                  <div class="recom__slide-text-box flex dc txt24 grey">
                    <p>Всего три простых шага — и ваши</p>
                    <p>
                      В этом видео мы подробно разбираем ежедневные действия, которые помогают поддерживать чистоту, продлить срок
                      службы и избежать распространённых ошибок в уходе.
                    </p>
                  </div>
                  <br />
                </div>
              </div>
              <div class="recom__slide-text swiper-slide">
                <div class="recom__slide-text-content flex dc">
                  <p class="h3 upper">
                    Три главных правила по уходу
                    <br />
                    за протезами
                  </p>

                  <div class="recom__slide-text-box flex dc txt24 grey">
                    <p>Всего три простых шага — и ваши</p>
                    <p>
                      В этом видео мы подробно разбираем ежедневные действия, которые помогают поддерживать чистоту, продлить срок
                      службы и избежать распространённых ошибок в уходе.
                    </p>
                  </div>
                </div>
              </div>
              <div class="recom__slide-text swiper-slide">
                <div class="recom__slide-text-content flex dc">
                  <p class="h3 upper">Три главных правила по уходу x</p>

                  <div class="recom__slide-text-box flex dc txt24 grey">
                    <p>Всего три простых шага — и ваши</p>
                    <p>
                      В этом видео мы подробно разбираем ежедневные действия, которые помогают поддерживать чистоту, продлить срок
                      службы и избежать распространённых ошибок в уходе.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="recom__nav-box swiper-btn-box">
            <button class="recom__swiper-btn recom__swiper-btn--next swiper-button swiper-button--prev">
              <div class="swiper-button__svg">
                <img class="noHover" src="./assets/images/arrGradient.svg" alt="" />
                <img class="hover" src="./assets/images/arrWhite.svg" alt="" />
              </div>
            </button>
            <button class="recom__swiper-btn recom__swiper-btn--next swiper-button swiper-button--next">
              <div class="swiper-button__svg">
                <img class="noHover" src="./assets/images/arrGradient.svg" alt="" />
                <img class="hover" src="./assets/images/arrWhite.svg" alt="" />
              </div>
            </button>
          </div>
        </div>

        <div class="recom__swiper-thumbs swiper">
          <div class="swiper-wrapper">
            <div class="recom__slide-thumbs swiper-slide">
              <div class="recom__slide-thumbs-img">
                <video class="" preload="metadata" poster="./assets/images/recomThumb1.webp">
                  <source src="./assets/images/videoTest.mp4" type="video/mp4" />
                </video>
              </div>
            </div>
            <div class="recom__slide-thumbs swiper-slide">
              <div class="recom__slide-thumbs-img">
                <img src="./assets/images/recomThumb2.webp" alt="" />
              </div>
            </div>
            <div class="recom__slide-thumbs swiper-slide">
              <div class="recom__slide-thumbs-img">
                <img src="./assets/images/recomThumb3.webp" alt="" />
              </div>
            </div>
            <div class="recom__slide-thumbs swiper-slide">
              <div class="recom__slide-thumbs-img">
                <img src="./assets/images/recomThumb4.webp" alt="" />
              </div>
            </div>
            <div class="recom__slide-thumbs swiper-slide">
              <div class="recom__slide-thumbs-img">
                <img src="./assets/images/recomThumb2.webp" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
