<section class="return">
  <div class="return__container container">
    <div class="return__inner white">
      <div class="return__main">
        <div class="return__content flex dc">
          <div class="return__head flex dc">
            <p class="h2">
              Не устроил результат —
         
              вернем деньги!
            </p>
            <p class="txt24">Мы уверены в качестве товаров, поэтому предоставляем гарантию возврата средств</p>
          </div>
          <button class="return__btn txt20 btn-primary"><span>Вернуть деньги</span></button>
        </div>
        <div class="return__decor">
          <picture class="hero__bg-img">
            <source srcset="./assets/images/returnDecorMob.webp" media="(max-width: 768px)" />
            <source srcset="./assets/images/returnDecor.webp" media="(min-width: 769px)" />
            <img src="./assets/images/returnDecor.webp" alt="" />
          </picture>
        </div>
      </div>
      <ul class="return__list flex dc">
        <li class="return__item flex dc">
          <div class="return__item-head flex cv">
            <p class="return__item-num txt24 medium">01</p>
            <p class="return__item-title h4">Заполните форму</p>
          </div>
          <p class="txt24">Нам понадобится немного данных, чтобы корректно оформить возврат средств</p>
        </li>
        <li class="return__item flex dc">
          <div class="return__item-head flex cv">
            <p class="return__item-num txt24 medium">02</p>
            <p class="return__item-title h4">Загрузите чек</p>
          </div>
          <p class="txt24">Прикрепите чек для подтверждения совершённой покупки</p>
        </li>
        <li class="return__item flex dc">
          <div class="return__item-head flex cv">
            <p class="return__item-num txt24 medium">03</p>
            <p class="return__item-title h4">Получите деньги</p>
          </div>
          <p class="txt24">Средства будут зачислены на ваш счёт в течение 10 дней</p>
        </li>
      </ul>
    </div>
  </div>
</section>
