@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}




