@import './mixins';
@import './flexs';

$dark: #3d4546;
$grey: #6a7373;
$lightbg: #f6f6f6;
$white: #fff;
$accent: #318e88;
$accentgradient: linear-gradient(133deg, #00909a 0%, #3cc7cd 100%);
$asideGradient: linear-gradient(
  130deg,
  #b07a37 0.09%,

  #f7e9cb 40%,
  #f7e9cb 60%,
  #b07a37 100%
);
$blickWhite: rgba(255, 255, 255, 0.8);
$blickAccent: rgb(124, 248, 244);
$fancyboxBg: rgba(15, 52, 51, 0.368);

body {
  color: $dark;
  background: $lightbg;
  font-family: 'OpenSans';

  .lock & {
    overflow: hidden;
    touch-action: none;
  }

  &.no-scroll {
    overflow: hidden !important;
    touch-action: none !important;
    width: 100vw;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;
  // overflow: hidden;
}

* {
  // outline:  1px solid red;
}

// main
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 57rem;
  // margin-top: 170rem;
  margin-top: 172rem;

  @include small-tablet {
    // margin-top: 82rem;
    gap: 50rem;
    margin-top: 82rem;
  }
}

.desktop {
  display: flex;

  @include small-tablet {
    display: none;
  }
}

.mobile {
  display: none;

  @include small-tablet {
    display: flex;
  }
}

.flex {
  display: flex;
}

@for $i from 1 through 6 {
  .grid#{$i} {
    display: grid;
    grid-template-columns: repeat($i, 1fr);
  }
}

.cv {
  align-items: center;
}

.ch {
  justify-content: center;
}

.ev {
  align-items: flex-end;
}

.sv {
  align-items: flex-start;
}

.sb {
  justify-content: space-between;
}

.jfe {
  justify-content: flex-end;
}

.dc {
  flex-direction: column;
}

.flex-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* .values__swiper */

@import './ui/ui';
